* {
  margin: 0;
}
.app__header {
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  /* z-index: 1; */
}
.App {
  background-color: #fafafa;
  height: 100vh;
}
.app__headerImage {
  object-fit: contain;
}
.app__post {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app__postsLeft {
  margin-left: 20px;
}
